# Data Science Tools and Ecosystem

# Objectives
- List popular Languages for Data Science
- List commonly used Libraries
- List Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas
4. TensorFlow

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Apache Hadoop |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hemang Agarwal